@import 'src/app.scss';

.history, .dashboard{
    @include container;
    table{
        background:$main_color;
        width: 100%;
        padding: 1rem 2rem;
        text-align: left;
        .status{     
            padding: 0.5rem 0;
            text-align: center;
            border-radius: 3px;
            width: 70%;
        }
        .delivered{
            background: $light_green;
            color: $dark_green;
        }
        .undelivered{
            background: $light_yellow;
            color: $dark_yellow;
        }
        .more-img{
            width: 24px;
            cursor: pointer;
        }
        img{
            width: 40px;
        }
        th{
            height: 50px;
        }
        td{
            height: 50px;
        }
    }
}
